MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
PG_HOST=postgres
PG_PORT=5432
PG_DB=gitpulse
PG_USER=
PG_PASSWORD=
GHARCHIVE_INPUT_PATH=/data/gharchive/*.json.gz
CURATED_REPOS_PATH=/data/curated_repos.txt
